
/* Overall card settings */
.card {
    font-family: verdana;
    font-size: 12px;
    border: 1px solid grey;
    background-color: white;
    color: black;
    padding: 2px;
    margin: 1px;
}

/* The header with the Awesomenaut name */
.card_header th {
    background-color: rgb(24, 75, 169);
    color: white;
    font-family: verdana;
    font-size: 20px;
    border: none;
    margin: 0px;
    padding: 1px;
    height:36px;
    vertical-align:center;
}

/* The Skill Title Bar */
.skill_header td {
    background-color: rgb(24, 75, 169);
    color: white;
    font-family: verdana;
    font-size: 13px;
    border: none;
    margin: 0px;
    padding: 4px;
    vertical-align:center;
    text-align:center;
}

/* The Upgrade Title Bar */
.upgrade_header td {
    background-color: rgb(24, 75, 169);
    color: white;
    font-family: verdana;
    font-size: 13px;
    border: none;
    margin: 0px;
    padding: 4px;
    vertical-align:center;
    text-align:center;
}

/* top stats section */
.top td {
    background-color: rgb(199, 235, 251);
    color: black;
    padding: 2px;
    padding-left:4px;
}

/* middle stats section */
.middle td {
    background-color: rgb(126, 193, 64);
    color: rgb(250,250,250);
    padding: 4px;
}


.aligncenter {
    text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}